html,body{
	height:100%;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.container {
    height:100%;
}
.container{
	margin-top: 2%;
}
.menu-button{
	width: 100%;
	margin-bottom: 1em;
}
.shiftBox{
	border: solid black 1px;
}
.debug{
	border: solid black 1px;
}
.btn-lg{
	width: 100%;
}